@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Noto+Sans+KR:wght@100..900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.top {
  height: 15vh;
}

.location {
  width: 40px;
  height: auto;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  border-radius: 20px;
  width: 30vw;
  margin-left: 5vw;
}

.title {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.course {
  width: 60px;
  height: auto;
  margin-top: 20px;
}

.subName {
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
}


.time {
  margin-left: 2vw;
  width: 60px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;

}

.box {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.imageBox {
  margin-top: 5vh;
  width: calc(30% - 20px);
  margin-right: 5vw;
  float: left;
}

.box1 {
  justify-content: center;
  text-align: center;
  float: left;
  margin-left: 5vw;
  height: 40vh;
  margin-top: 5vh;
}

.box2 {
  width: 50vw;
  height: 20vh;
  text-align: start;
  left: 10vw;
  display: flex;
  align-items: center;
}

.contentContainer {
  display: flex;
  align-items: center;
}

.textContainer {
  margin-left: 2vw;
  font-size: 1.1rem;
  font-weight: bold;
}

.overView {
  margin-top: 1vh;
  width: 50vw;
  height: 20vh;
}

.box4 {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.card {
  margin-top: 3vh;
  width: 35vw;
  height: 30vh;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.content {
  max-height: 150px;
  overflow-y: auto;
}

.content p {
  margin: 10px 0;
  line-height: 1.4;
}

.course {
  width: 60px;
  height: auto;
  margin-top: 5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}