.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.banner {
  height: 13vh;
}

.top {
  height: 14vh;
}

.div {
  width: 100vw;
  height: 100vh;
}

.box {
  position: relative;
  display: flex;
}

.box .box1 {
  width: 35vw;
  height: 30vh;
  margin-top: 55vh;
  margin-left: 70vw;
  font-size: 2.3rem;
  color: #135206;
  font-weight: 700;
}

.box button {
  width: 15vw;
  height: 5vh;
  border: 0;
  border-radius: 20px;
  background-color: #f9efdbb9;
  color: #135206;
  margin-left: 2vw;
}

.box button:hover {
  background-color: #135206;
  color: #f9efdbb9;
  cursor: pointer;
}

.video {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.box1 {
  width: 35vw;
  height: 30vh;
  margin-top: 20vh;
  margin-left: 5vw;
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

.box2 {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.box4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.swiperpagination {
  top: 200vh;
}

.swiperbuttonnext {
  margin-top: 200vh;
}

.subscriptionItem {
  width: 20vw;
  height: 80vh;
  background-color: white;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.3s ease;
}

.subscriptionItem p {
  font-size: 1.5rem;
}

.subscriptionItem:hover {
  border: 5px solid black;
}

.banner2 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 30vh;
}

.form {
  box-sizing: border-box;
  width: 30vw;
  height: 7vh;
  border-radius: 30px;
  border: 2px solid #365486;
  background: #eef5ff;
  font-size: 1.2rem;
}

.search {
  box-sizing: border-box;
  width: 30vw;
  height: 7vh;
  background-color: rgba(248, 204, 212, 0);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-align: center;
}
