@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.top {
  height: 15vh;
}

.resultTitle {
  font-size: 1.5rem;
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;

}

.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  text-align: center;
}

.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  text-align: center;

  font-family: 'Acme', sans-serif;

}

.table {
  // display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  // text-align: left;
  // border-bottom: 1px solid #e5e5e5; 
  font-family: 'Acme', sans-serif;

}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
  font-family: 'Acme', sans-serif;

  text-transform: uppercase;
  color: #333;
}

.table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.table tbody tr:hover {
  background-color: #f0f0f0;
}

.row img {
  width: 50vw;
  height: auto; // 이미지의 높이를 자동으로 조정합니다.
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.buttonsContainer .image {
  top: 5vw;
  width: 100px;
  /* 이미지의 너비를 원하는 크기로 설정 */
  height: 100px;
  /* 이미지의 높이를 원하는 크기로 설정 */
  border-radius: 50%;
  /* 이미지를 동그랗게 만듭니다. */
  margin: 3px;
  /* 이미지 사이의 간격을 조정합니다. */
  object-fit: contain;
  /* 이미지를 부모 요소에 맞게 잘라서 보여줍니다. */
  cursor: pointer;
  // filter: grayscale(70%);
}

// greyscale 효과
.buttonsContainer .image:hover {
  filter: grayscale(0%);
  transition: filter 0.2s ease;
}

.div3 {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: calc(33.33% - 20px);
  width: calc(33.33% - 20px);
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card h3 {
  margin-top: 0;
}

.card p {
  margin: 10px 0;
}

.card .image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 30vw;
  height: 30vh;
  border-radius: 10px;
  object-fit: cover;
}

.defaultImage {
  width: 10vw;
  /* 원하는 가로 크기로 조정합니다. */
  height: 10vh;
  /* 원하는 세로 크기로 조정합니다. */
}
