@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.searchContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ccc;
  padding: 0 10px;
  font-size: 1rem;
  margin-right: 10px;
}

.searchButton {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #365486;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin: 20px;
}

.searchButton:hover {
  background-color: #0F1035;
}

.resultTitle {
  font-size: 1.5rem;
  justify-content: center;
  margin-bottom: 10px;
}

.resultList {
  list-style: none;
  padding: 0;
}

.resultItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.resultItem h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.resultItem p {
  font-size: 1rem;
  margin: 5px 0;
}

.course_regionFilterSelect {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.course_regionFilterSelect:focus {
  border-color: #365486;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.top {
  height: 12vh;
}

.resultTitle {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  text-align: center;
}

.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  text-align: center;
}

.table {
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.table tbody tr:hover {
  background-color: #f0f0f0;
}

.image {
  border-radius: 5px;
  width: 20vw;
  height: 20vh;
}
