.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.top {
  height: 14vh;
}

// .title {
//   font-size: 1rem;
//   margin-bottom: 30px;
//   justify-content: center;
// }

.searchContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ccc;
  padding: 0 10px;
  font-size: 1rem;
  margin-right: 10px;
}

.searchButton {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0056b3;
}



.resultTitle {
  font-size: 1.5rem;
  justify-content: center;
  margin-bottom: 10px;
}

.resultList {
  list-style: none;
  padding: 0;
}

.resultItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.resultItem h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.resultItem p {
  font-size: 1rem;
  margin: 5px 0;
}

.resultContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  text-align: center;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;

}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.row img {
  max-width: 50px;
  height: auto;
}

.course_regionFilterSelect {
  width: 200px; /* 선택 박스의 너비 */
  padding: 8px; /* 선택 박스 내부 여백 */
  font-size: 16px; /* 폰트 크기 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: 4px; /* 테두리의 둥근 정도 */
  outline: none; /* 포커스시 테두리 제거 */
  background-color: #fff; /* 배경색 */
  cursor: pointer; /* 마우스 커서 모양 */
  transition: border-color 0.3s ease; /* 테두리 색상 변화에 대한 전환 효과 */
}

/* 포커스시 테두리 색상 변경 */
.course_regionFilterSelect:focus {
  border-color: #007bff; /* 포커스시 테두리 색상 */
}

.course_hashtagFilterSelect {
  width: 200px; /* 선택 박스의 너비 */
  padding: 8px; /* 선택 박스 내부 여백 */
  font-size: 16px; /* 폰트 크기 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: 4px; /* 테두리의 둥근 정도 */
  outline: none; /* 포커스시 테두리 제거 */
  background-color: #fff; /* 배경색 */
  cursor: pointer; /* 마우스 커서 모양 */
  transition: border-color 0.3s ease; /* 테두리 색상 변화에 대한 전환 효과 */
}