.slider {
  position: relative;
  width: 100vw;
  height: 60vh;
  /* Adjust height as needed */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  transition: transform 0.5s ease;
  opacity: 0;
}

.active {
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.arrow:first-child {
  left: 10px;
}

.arrow:last-child {
  right: 10px;
}

.slided img {
  max-width: 100%;
  height: auto;
  object-fit: cover;

  // border-radius: 8px; /* 이미지에 둥근 테두리를 적용합니다. */
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다. */
  // transition: transform 0.3s ease; /* 호버 효과를 위한 애니메이션을 추가합니다. */
}

.slide-image:hover {
  transform: scale(1.1); /* 호버 시 이미지를 확대합니다. */
}